@{ 
    ViewBag.yourSessionId = Session["EmloyeeName"];
}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddProduct</title>
    <link rel="stylesheet" href="~/Content/CSS/AdminStyle.css">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

</head>

<body>
    <div class="header">
        <div class="container">
            <div class="header_left">

            </div>
            <div class="header_logo">
                <a href="#"><img src="~/Content/image/logo.png" alt=""></a>
            </div>
            <div class="header_right">
                <div id="icon_user">
                    <a href="#">
                        <i class="fa fa-user" style="font-size:24px; color: #616161;"></i>
                    </a>
                </div>
                <div id="icon_search">
                    <a href="#">
                        <i class="fa fa-search" style="font-size:24px; color: #616161;"></i>
                    </a>
                </div>
                <div id="icon_cart">
                    <a href="#">
                        <i class="fa fa-shopping-cart" style="font-size:24px; color: #616161;"></i>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <div id="menu">
                <div class="inner_menu">
                    <ul>
                        <li>
                            <a href="#"><span>Emloyee: @ViewBag.yourSessionId</span></a>
                        </li>
                        <li>
                            <a href="~/Admin/Products"><span>Products</span></a>
                        </li>
                        <li>
                            <a href="~/Admin/Customers"><span>Customer</span></a>
                        </li>
                        <li>
                            <a href="~/Admin/Emloyees"><span>Emloyee</span></a>
                        </li>
                        <li>
                            <a href="~/Admin/Bills"><span>Bill</span></a>
                        </li>
                        <li>
                            <a href="~/Admin/Logout"><span>Logout</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
    <div class="footer">
        <div class="footer_logo">
            <a href="#"><img src="~/Content/image/logo.png" alt=""></a>
        </div>
        <div class="footer_content">
            <div class="col">
                <div class="item_footer">
                    <p class="item_title">Service & Support</p>
                    <p><a href="">adudu@gmail.com</a></p>
                    <p><a href="">0123456789</a></p>
                    <p><a href="">Location</a></p>
                </div>
            </div>
            <div class="col">
                <div class="item_footer">
                    <p class="item_title">Info</p>
                    <p><a href=""></a></p>
                    <p><a href=""></a></p>
                    <p><a href=""></a></p>
                </div>
            </div>
            <div class="col">
                <div class="item_footer">
                    <p class="item_title">Follow Us</p>
                    <p><a href=""></a></p>
                    <p><a href=""></a></p>
                    <p><a href=""></a></p>
                </div>
            </div>
        </div>
        <div class="nocopyright">NoCopyRight © ADUDU</div>
    </div>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    
</body>

</html>
