
@{
    Layout = "~/Views/Shared/ShopLayout.cshtml";
}

<div class="main">
    <div class="about_era">
        <div class="about_item">
            <div class="item_info">
                <ul>
                    <li><p>Trang Bao Duy</p></li>
                    <li><p>MSSV: 2183209</p></li>
                    <li><p>Email: duy.tb3209@sinhvien.hoasen.edu.vn</p></li>
                </ul>

            </div>
        </div>
        <div class="about_item">
            <div class="item_info">
                <ul>
                    <li><p>Nguyen Quang Minh</p></li>
                    <li><p>MSSV: 2182939</p></li>
                    <li><p>Email: minh.nq2939@sinhvien.hoasen.edu.vn</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>
